.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
  overflow: auto;
}

[data-tab-container-size='xs'],
[data-tab-container-size='sm'] {
  .cards {
    padding: 0.5rem 0.25rem;
  }
}
.card {
  width: calc(100% / 3);
  min-width: 250px;
  cursor: pointer;
  position: relative;

  .menuIcon {
    position: absolute;
    top: 0;
    right: 0.5rem;
    button {
      visibility: hidden;
      padding: 0;
      background-color: transparent;
      span > span {
        line-height: 1;
      }
    }
  }
  &:hover .menuIcon button,
  & .menuIcon button[class*='open'] {
    visibility: inherit;
  }
}

.cardContent {
  position: relative;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.card img {
  max-width: 64px;
}

[data-tab-container-size='sm'] {
  .card {
    width: 50% !important;
  }
}
[data-tab-container-size='xs'] {
  .card {
    width: 100% !important;
  }
}
