.grid {
  align-items: start;
  row-gap: var(--ax-form-row-gap, 0.5rem);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  --g-row-gap: var(--ax-form-row-gap, 0.5rem);
  --g-col-gap: var(--ax-form-column-gap, 0.75rem);
}

.control {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
}

.infoButton,
.infoButton:hover {
  color: var(--bs-btn-bg);
  background-color: var(--ax-panel-bg);
}

.infoButton {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  .icon {
    font-size: 2rem;
    display: inline-flex;
  }
  .data {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .value {
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
  }

  .title {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.template {
  display: inline-grid;
  grid-template-columns: 1.25fr 1fr;
  float: right;

  dt {
    font-weight: normal;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
  }

  dd {
    margin-left: 0;
    text-align: right;
  }

  dt,
  dd {
    margin: 0;
    padding: 0.25rem 1rem;
    white-space: nowrap;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  gap: var(--ax-theme-shell-view-toolbar-gap);
  background-color: var(--ax-theme-shell-view-toolbar-bg, inherit);
  padding: var(--ax-theme-shell-view-toolbar-padding);
  border-bottom: var(--ax-theme-shell-view-toolbar-border);

  & > div:first-child {
    flex: 1;
  }
}

.commandBar {
  button {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    --bs-btn-color: var(--ax-command-bar-button-color);
    --bs-btn-bg: var(--ax-command-bar-button-bg);
    --bs-btn-border-color: var(--ax-command-bar-button-border-color);
    --bs-btn-hover-color: var(--ax-command-bar-button-hover-color);
    --bs-btn-hover-bg: var(--ax-command-bar-button-hover-bg);
    --bs-btn-hover-border-color: var(--ax-command-bar-button-hover-border-color);
    --bs-btn-active-color: var(--ax-command-bar-button-active-color);
    --bs-btn-active-bg: var(--ax-command-bar-button-active-bg);
    --bs-btn-active-border-color: var(--ax-command-bar-button-active-border-color);
    --bs-btn-border-radius: var(--ax-command-bar-button-border-radius);
    --bs-btn-active-shadow: var(--ax-command-bar-button-active-shadow);
    --bs-btn-disabled-color: var(--ax-command-bar-button-color);
    --bs-btn-disabled-bg: var(--ax-command-bar-button-bg);
    --bs-btn-disabled-border-color: var(--ax-command-bar-button-border-color);
  }
}

.content {
  padding: var(--ax-form-padding);
  position: relative;
}

:root {
  --ax-form-padding: var(--ax-theme-form-padding, 1rem);
  --ax-form-row-gap: var(--ax-theme-form-row-gap, 1rem);
  --ax-form-column-gap: var(--ax-theme-form-column-gap, 1rem);
}

.customize {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}
